{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}}
<h1>Transaction History</h1>
<table>
    <thead>
        <tr>
            <th>Company</th>
            <th>Symbol</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Timestamp</th>
            <th>Transaction Type</th>
        </tr>
    </thead>
    <tbody>
        {% for row in history %}
        <tr>
            <td>{{ row['company'] }}</td>
            <td>{{ row['symbol'] }}</td>
            <td>{{ row['amount'] }}</td>
            <td>{{ row['total'] | usd }}</td>
            <td>{{ row['timestamp'] }}</td>
            <td>{{ row['transaction_type'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}
