{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<div>
    <form action="/quote" method="post">
        <input name="symbol" type="text" placeholder="Enter quote">
        <input name="confirm" type="submit" value="Submit quote">
    </form>
</div>
<div>
    <table>
        <tr>
            <th> Name </th>
            <th> Price </th>
            <th> Symbol </th>
        </tr>
        <tr>
            <th>
                {{ name }}
            </th>
            <th>
                {{ "%.2f" | format(price) }}
            </th>
            <th>
                {{ symbol }}
            </th>
        </tr>
    </table>
</div>
{% endblock %}
